
<app-navar></app-navar>
<div class="conteiner mx-auto flex bg-black">
  <div class="bg-auto ">
  <p class="text-center text-white text-6xl font-letra pt-5 font-bold">Mairon G. Marinez</p>
  <p  class="text-center text-white text-2xl mb-16">Lic. informatica y computacion</p>
  <p class="text-white text-center ">Orgulloso de ser cristiano, padre y esposo, me encanta la tecnología 
    y disfruto descubrir cómo se desarrolla cada día.</p>
    <img src="../../../assets/img/mairon.jpg" height="200px" width="200px" class="flex items-center flex-shrink-0">
  </div>
</div>


<router-outlet></router-outlet>